body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 10px;
  font-weight: 500;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.containers {
  display: flex;
}

.container1 {
  max-width: 200px;
  height: auto;
  z-index: 2;
}

.chanel-image {
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container2 {
  max-width: 160px;
  background-color: white;
  border-radius: 10px;
  padding: 0 20px;
  height: auto;
  padding-left: 30px;
  margin-left: -10px;
}

.perfume {
  letter-spacing: 3px;
  margin: 25px 0;
}

.title {
  font-family: "Fraunces";
  color: hsl(212, 21%, 14%);
  font-size: 23px;
  font-weight: 700;
  margin-top: -10px;
  line-height: 1;
}

.description {
  line-height: 1.5;
}
.pricing{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-family: 'Fraunces';
  font-size: 23px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.little {
  font-size: 10px;
  font-weight: 500;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin:10px 0;
}

.icon-cart{
  padding-right: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}